/* targeting body using the body element */
body{
    background-color: rgb(8, 110, 244);
}

/* targeting all text using the universal selector */
*{
    color:azure;
}

/* targeting unordered list using element selctore */
ul{
    display: flex;
    justify-content:space-evenly;

}

/* targeting anchor tags using the anchor element selector*/
a{
    text-decoration: none;
}
/* targeting navigation bar using the nav element selector*/
nav{
    border-bottom: 1pt solid white;
    position: fixed;
    top: 0px;
    width: 100%
    
}

/* adding hover effect on anchor tag using the psuedoclass selector*/
a:hover{
    background-color: white;
    color: black;
}

ul li{
    list-style:none;
}

table{
margin-left: auto;
margin-right:auto;
border-collapse: collapse;

}

td{
    padding:10px 25px 10px 25px
}

tr {
    border-bottom: 1pt solid white;
  }


h1{
    text-align: center;
    text-decoration: underline;

}

.container{
    display: flex;
    justify-content: space-evenly;
}

img{
    border-radius: 2rem;
    transition: transform 1.8s; 

}

/* adding hover effect on images using the psuedoclass selector*/
img:hover{
    transform: scale(1.5);

}


/* Box-sizing means that the width and height of an element are calculated based on the content inside the element. If you add any padding or border to the element, then those values will be added to the final width of the element. */


/* Other ways of using colours include RGBA, which is a color model that stands for Red, Green, Blue, and Alpha (opacity). It allows you to define colors using the combination of red, green, and blue intensities, with an additional alpha value to control opacity and Hexadecimal colors which are represented using a combination of six characters, from 0 to 9 and A to F, representing the intensity of red, green, and blue. It is a widely used way to define colors in web development.  */